<html>
    <body>
        <script type="text/javascript"
                src="javascript/mapper.js">
         eventLogger('/', {
             'some_id' : 'user did something'
         });
        </script>

        fun times
    </body>
</html>
