<html>
    <body>

      <form method="POST" action="/checkOffers">
          <label>uid</label>
          <input name="uid" type="text" default="Enter a uid..."  />
          <label>pub0</label>
          <input name="pub0" type="text" default="Enter a pub0..."  />
          <label>page</label>
          <input name="page" type="text" default="Enter a page..."  />
          <input type="submit" />
      </form>
    </body>
</html>
